.styled {
    background-color: #f8f8f8
}
.menu   {
    color: cadetblue; font-family: monospace; font-size: 15px; font-style: oblique; font-weight: bold; text-align:50px 50px;
    list-style-type: none
}
 h3{
    color: black; font-size: 18px; font-weight: 400; background: #eaeaea;
}
#short{
    color: #707070; font-size:  14px; font-style: italic; line-height: 16px;
}
#long{
    color: #484343; font-size: 16px; font-weight: 400; line-height: 24px; text-align: left;
}
.type>li{color: darkgreen; font-size: 20px; font-weight: inherit; line-height: inherit; text-align: center; list-style-type: georgian}

/*Стили формы*/
input{
    width: 300px; height: 40px;
}
.textbox, .message{
    color: blueviolet; font-size: 14px; font-family: "Arial"; 
}
a:hover{
    color: red
}
a:visited:hover{
    color: darkgreen
}
.logo {
    background-image: url(image/lovoo-rcm1200x627u.png);
    height: 100px;
    float: left;
margin: auto
}
header {
display: flex;
justify-content: space-between;
    position: relative;
}

input[type="email"]:focus {
    color: red; background-color: rosybrown
} 

input, textarea{
    text-transform: capitalize
}
table{
    border: 1px solid #000;
        width: 400px;
            height: 300px
}
td{
    border: 1px solid #000
}
.card{
    outline: 4px solid #18FFE2;
}
.card: hover {
outline: none;
}