.styled {
    background-color: #f8f8f8
}

.menu {
    color: cadetblue;
    font-family: monospace;
    font-size: 15px;
    font-style: oblique;
    font-weight: bold;
    list-style-type: none;
    margin-right: 30px;
    padding: 30px;
    text-align: right
}

h3 {
    color: black;
    font-size: 18px;
    font-weight: 400;
    background: #eaeaea;
}

#short {
    color: #707070;
    font-size: 14px;
    font-style: italic;
    line-height: 16px;
}

#long {
    color: #484343;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.type > li {
    color: darkgreen;
    font-size: 20px;
    font-weight: inherit;
    line-height: inherit;
    text-align: center;
    list-style-type: georgian
}

/*Стили формы*/
input {
    width: 300px;
    height: 40px;
}

.textbox,
.message {
    color: blueviolet;
    font-size: 14px;
    font-family: "Arial";
}

a:hover {
    color: red
}

a:visited:hover {
    color: darkgreen
}

.container{
    width: 700px;
        margin: 0 auto
}
.logo {
    background-image: url(image/lovoo-rcm1200x627u.png);
    height: 70px;
    width: auto;
    float: left;
    margin-left: 30px;
    margin-top: 10px;
}

header {
    height: 200px;
    background: #FF1493;
}

input[type="email"]:focus {
    color: red;
    background-color: rosybrown
}

input,
textarea {
    text-transform: capitalize
}

table {
    border: 1px solid #000;
    width: 400px;
    height: 300px
}

td {
    border: 1px solid #000
}

img.card {
    outline: 4px solid #18FFE2;
}

.a.card:hover {
    outline: none;
}

.meta > p {
    font-family: Arial, Helvetica, sans-serif;
    /* Гарнитура шрифта основного текста */
    font-size: 90%;
    /* Размер шрифта */
}

.meta > p:first-letter {
    font-family: "Times New Roman", Times, serif;
    /* Гарнитура шрифта первой буквы */
    font-size: 200%;
    /* Размер шрифта первого символа */
    color: red;
    /* Красный цвет текста */
}
.footer{
    height: 90px;
    background-color: cornflowerblue;
    text-align: right;
    margin-top: 10px;
    margin-right: 20px;
    padding-right: 50px
}