@import url('https://fonts.googleapis.com/css?family=Montserrat:100,300,700');

body {
    font-family: 'Montserrat', sans-serif;
}
*{
    margin: 0;
    padding: 0;
}
.container{
    width: 1366px;
    margin: 0 auto
}
.header{
    height: 800px;
    background: url(img/slider-img.png);
}
.header .logotip{
    margin-top: 63px;
    margin-left: 98px;
}
.menu{
    float: right;
    margin-top: 67px;
    margin-right: 211px;
    
}
.menu li{
    float: left;
     list-style-type: none;
}
.menu li a{
  color: #8c8c8c;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    line-height: 48px;
    text-decoration: none; 
    display: block;
    padding: 0 20px;
}

.menu li a:hover{
color: #212121;
font-family: "Montserrat - Bold";
font-weight: 700;
letter-spacing: 1.4px;
border-bottom: 1px solid black;
}

.slider_content{
    margin-top: 265px;
    margin-left: 98px;    
    width: 458px;
}

.slider_content h3 {
color: #43a047;
font-size: 18px;
font-weight: 700;
line-height: 48px;
text-transform: uppercase;
letter-spacing: 1.8px;
margin-bottom: 22px;
text-transform: uppercase;
}

.slider_content h1 {
color: #212121;
font-size: 48px;
font-weight: 400;
line-height: 72px;
margin-bottom: 34px;
text-transform: uppercase;
}

.slider_content p {
color: #6c6c6c;
font-size: 14px;
font-weight: 300;
line-height: 24px;
margin-bottom: 32px;
}

.slider_content a {
    display: block;
    background: #ffffff;
    box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
    border-radius: 23px;
    width: 212px;
    height: 45px;
    text-decoration: none;
    text-align: center;
    line-height: 45px;
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 3.6px;
    margin-bottom: 91px;
    text-transform: uppercase;
}

.slider_content a:hover{
  background: #ffffff url('img/arrow.png') no-repeat 173px 16px; 
}

.dots {
    display: inline-block;
    justify-content: center;
    height: 40px;
    text-decoration: none;
    margin-left: 620px;
}

.dots a {
    display: block;
    float: left;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #c7c7c7;
    margin: 10px;
    text-decoration: none;
}

.dots a:hover {
    width: 40px;
    height: 40px;
    background-color: #212121;
    margin: 5px;
    transition: 0.2s linear;
}

.feature_products{
    margin-top: 120px;
    margin-left: 97px;
    margin-right: 97px;
    display: block;
}
.feature_products a{
    text-align: left;
    color: #6c6c6c;
    font-size: 36px;
    font-weight: 700;
    text-decoration: none
}
.feature_products a:hover{
    color: #212121;
    border-bottom: 1px solid black;   
}

.feature_products h6{
color: #212121;
font-size: 18px;
line-height: 24px;
letter-spacing: 3.6px;
text-align: right;
text-transform: uppercase;
margin-bottom: 68px;
}

.feature_products img{
    width: 9px;
    height: 12px;
}

.tab_content{
clear: both;
padding-top: 50px;
margin-left: 95px;
display: inline-block;
}
    
.tab_content img:nth-child(n+2){
    margin-left: 30px;
}
.tab_content a{
display: block;
float: left;
width: 270px;
height: 270px;
margin: 15px;
border-width: 1px;
border-style: solid;
border-color: #ffffff;
position: relative;
}   

.tab_content a:hover{
    border: 1px solid #9c9c9c; 
}

.tab_content a:hover .product_content{
display: block;
opacity: 0.9;
background-color: #ffffff;  
}

.product_content{
position: absolute;
height: 270px;
width: 270px;
top: 0;
left: 0;
display: none;
}

.product_content i{
margin-top: 62px;
margin-left: 111px;
display: block;
background-image: url(img/arrow.png);
background-repeat: no-repeat;
background-position: 20px 15px;
border-radius: 50%;
background-color: #ffffff;
box-shadow: 0px 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
width: 48px;
height: 48px;
}

.product_content h4{
padding-top: 10px;
color: #212121;
font-size: 21.91px;
font-weight: 700;
line-height: 30px;
text-align: center;
transform: scaleX(1.0041);
}

.product_content p{
color: #6c6c6c;
font-size: 13.94px;
font-weight: 300;
line-height: 22px;
text-align: center;
transform: scaleX(1.0041);
margin-left: 30px;
margin-right: 30px;
}

.promo_product{
    margin-top: 105px;
    height: 683px;
}

.promo_content_1{
float: left;
width: 683px;
height: 683px;
background-image: url(img/promo-img1.png)
}

.promo_content_1 h3{
color: #1e88e5;
font-size: 18px;
font-weight: 700;
line-height: 48px;
text-align: left;
margin-top: 228px;
margin-left: 51px;
}

.promo_content_1 h1{
margin-top: 18px;
margin-left: 51px;
color: #212121;
font-size: 36px;
font-weight: 700; 
}

.promo_content_1 p{
color: #6c6c6c;
font-size: 13.99px;
font-weight: 300;
line-height: 24px;
text-align: left;
transform: scaleY(1.0022);
width: 374px;
margin-top: 24px;
margin-left: 51px;
}

.promo_content_1 a{
display: block;
color: #212121;
font-size: 18px;
font-weight: 700;
line-height: 45px;
text-align: center;
text-decoration: none;
background: #ffffff;
letter-spacing: 2.5px;
box-shadow: 0px 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
width: 212px;
height: 45px;
border-radius: 22px;
margin-top: 34px;
margin-left: 51px;
text-transform: uppercase;
}

.promo_content_1 a:hover{
  background: #ffffff url('img/arrow.png') no-repeat 173px 16px; 
}

.promo_content_2{
float: left;
width: 683px;
height: 683px;
background-image: url(img/promo-img.png)
}

.promo_content_2 h3{
color: #1e88e5;
font-size: 18px;
font-weight: 700;
line-height: 48px;
text-align: left;
margin-top: 228px;
margin-left: 51px;
}

.promo_content_2 h1{
margin-top: 18px;
margin-left: 51px;
color: #212121;
font-size: 36px;
font-weight: 700; 
}

.promo_content_2 p{
color: #6c6c6c;
font-size: 13.99px;
font-weight: 300;
line-height: 24px;
text-align: left;
transform: scaleY(1.0022);
width: 374px;
margin-top: 24px;
margin-left: 51px;
}

.promo_content_2 a{
display: block;
color: #212121;
font-size: 18px;
font-weight: 700;
line-height: 45px;
text-align: center;
text-decoration: none;
background: #ffffff;
letter-spacing: 2.5px;
box-shadow: 0px 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
width: 212px;
height: 45px;
border-radius: 22px;
margin-top: 34px;
margin-left: 51px;
text-transform: uppercase;
}

.promo_content_2 a:hover{
  background: #ffffff url('img/arrow.png') no-repeat 173px 16px; 
}

.trend{
   clear: both; 
}

.trending_products{
margin-top: 120px;
margin-left: 107px;
height: 40px;
}

.trending_products p{
display: block;
float: left;
color: #212121;
font-size: 36px;
font-weight: 700;
text-align: left;
}

.trending_products h3{
color: #212121;
font-size: 18px;
line-height: 24px;
letter-spacing: 3.6px;
text-align: right;
text-transform: uppercase;
margin-bottom: 68px;
}

.trending_products img{
    width: 9px;
    height: 12px;
}

.trending_content{
clear: both;
margin-left: 85px;
margin-top: 63px;
height: 800px;
}

.trending_content img{
    margin: 15px;
}
.hot_deals{
    clear: both;
}

.hot_deals_content{
clear: both;
background-image: url(img/slider.png);
height: 800px;
margin-top: 100px;
}

.hot_deals_content h3{
padding-top: 280px;
margin-left: 100px;
color: #e53935;
font-size: 18px;
font-weight: 700;
line-height: 48px;
text-align: left;
text-transform: uppercase;
}

.hot_deals_content h1{
margin-left: 100px;
color: #212121;
font-size: 62px;
font-weight: 100;
line-height: 72px;
text-align: left;
text-transform: uppercase;
}

.hot_deals_content p{
color: #6c6c6c;
font-size: 14px;
font-weight: 300;
line-height: 24px;
text-align: left;
width: 458px;
margin-left: 100px;
}

.hot_deals_content a{
color: #6c6c6c;
    display: block;
    background: #ffffff;
    box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
    border-radius: 23px;
    height: 45px;
    text-decoration: none;
font-size: 14px;
font-weight: 300;
line-height: 45px;
text-align: center;
width: 212px;
margin-left: 100px;
letter-spacing: 3.6px;
margin-top: 32px;
text-transform: uppercase;
}

.hot_deals_content a:hover{
    background: #ffffff url('img/arrow.png') no-repeat 173px 16px;
}

.dots_hot {
    display: inline-block;
justify-content: center;
height: 40px;
text-decoration: none;
margin-left: 620px;
    margin-top: 226px;
}

.dots_hot a {
    display: block;
    float: left;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #c7c7c7;
    margin: 10px;
    text-decoration: none;
}

.dots_hot a:hover {
    width: 40px;
    height: 40px;
    background-color: #212121;
    margin: 5px;
    transition: 0.2s linear;
}

.exclusive_products{
margin-top: 120px;
height: 570px;
margin-left: 100px;
}

.ep_content{
    float: left;
    width: 570px;
    height: 570px;
    background-image: url("img/product-1-lg.png");
}

.ep_content h3{
color: #1e88e5;
font-size: 18px;
font-weight: 700;
line-height: 48px;
text-align: left;
margin-top: 130px;
margin-left: 31px;
}

.ep_content h1{
    margin-top: 18px;
    margin-left: 31px;
    color: #212121;
    font-size: 36px;
    font-weight: 700;
}

.ep_content p{
color: #6c6c6c;
font-size: 13.99px;
font-weight: 300;
line-height: 24px;
text-align: left;
transform: scaleY(1.0022);
width: 374px;
margin-top: 24px;
margin-left: 31px;
}

.ep_content a{
display: block;
color: #212121;
font-size: 18px;
font-weight: 700;
line-height: 45px;
text-align: center;
text-decoration: none;
letter-spacing: 2.5px;
background-color: #ffffff;
box-shadow: 0px 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
width: 212px;
height: 45px;
border-radius: 22px;
margin-top: 34px;
margin-left: 31px;
}

.ep_content a:hover{
    background: #ffffff url('img/arrow.png') no-repeat 173px 16px;
}
.ep_pictures{
   float: left;
    width: 600px; 
}

.ep_pictures img{
float: left;
margin-left: 30px;
margin-bottom: 30px;
}

.mobile_app{
    clear: both;
}

.mobile_app_content{
   height: 516px;
    margin-top: 120px;
    background-image: url(img/back-img.png);
      
}

.mobile_app_content h3{
padding-top: 125px;
margin-left: 100px;
color: #6c6c6c;
font-size: 18px;
font-weight: 700;
line-height: 48px;
text-align: left;
}

.mobile_app_content h1{
margin-left: 100px;
color: #212121;
font-size: 62px;
font-weight: 100;
line-height: 72px;
text-align: left;
}

.mobile_app_content p{
margin-left: 100px;
margin-top: 22px;
color: #6c6c6c;
font-size: 22px;
font-weight: 300;
line-height: 24px;
text-align: left;
}

.app{
margin-top: 20px;
margin-left: 90px;
}

.gp{
margin-top: 20px;
margin-left: 10px;
}

footer{
    background-color: #f7f7f7;
}

.virtual-footer{
   width: 1366px;
  margin: 0 auto
}

.footer_block1{
float: left;
margin-top: 80px;
margin-left: 99px;
width: 330px;
}

footer h4{
color: #6c6c6c;
font-size: 18px;
font-weight: 700;
line-height: 24px;
text-align: left;
margin-bottom: 24px;
}

footer p{
color: #212121;
font-size: 14px;
font-weight: 300;
line-height: 22px;
text-align: left;
}

.FB_1_6{
    display: inline-block;
width: 155px;
}

footer a{
color: #212121;
font-size: 14px;
text-decoration: none;
font-weight: 700;
line-height: 26px;
text-align: left;
}

.email{
border-width: 1px;
border-color: #d9dee1;
border-style: solid;
background-color: #ffffff;
width: 368px;
height: 46px;
}

input[type="email"]{
border: none;
outline: none;
width: 310px;
color: #6c6c6c;
font-size: 14px;
font-weight: 300;
line-height: 22px;
text-align: left;
vertical-align: top;
padding-left: 19px;
height: 43px;
}

.email input[type="submit"] {
    border: none;
    background: url(img/submit.png) no-repeat 50% 50%;
    width: 21px;
    vertical-align: middle;
    float: right;
    margin-right: 14px;
    height: 46px;
}

.footer_line{
    clear: both;
margin-left: 100px;
}

.fl_2_1{
        float: left;
    width: 400px;
    display: inline-block;
    margin-top: 70px;
}

.fl_2_2{
    display: inline-block;
float: inherit;
margin-top: 70px;
margin-left: 156px;
}

.fl_2_3{
    float: right;
width: 400px;
margin-top: 70px;
}
